load_pdm() {
  if [[ -d .venv ]]; then
    echo ".envrc: Detected .venv, activating it"
    local VENV=".venv"
    export VIRTUAL_ENV=$(echo "$VENV" | rev | cut -d'/' -f2- | rev)
    source "$VENV/bin/activate"
    return
  fi

  # If no .venv exists, try to activate any virtualenv
  echo ".envrc: No .venv detected, trying to activate any virtualenv"
  local VENV=$(dirname $(pdm info --python ))
  export VIRTUAL_ENV=$(echo "$VENV" | rev | cut -d'/' -f2- | rev)
  echo "$VENV/activate"
}
load_pdm

export DJANGO_SETTINGS_MODULE="firefighter.firefighter.settings"
