[tools]
python = "3.12"
direnv = "2.32.1"
node = "18"
pdm = "2.26.4"
act = "0.2.77"

[hooks]
postinstall = "pdm sync"

[env]
[env._]
file = '.env'
[env._.python]
[env._.python.venv]
path = ".venv"
create = true

[tasks.lint]
run = "pre-commit run -a"
