/* THEMING */
[data-md-color-scheme="slate"] {
  --md-default-bg-color: hsla(var(--md-hue), 15%, 12%, 1);
  --md-default-bg-color--light: hsla(var(--md-hue), 15%, 12%, 0.54);
  --md-default-bg-color--lighter: hsla(var(--md-hue), 15%, 12%, 0.26);
  --md-default-bg-color--lightest: hsla(var(--md-hue), 15%, 12%, 0.07);
}
/* Dark header in dark theme */
[data-md-color-scheme="slate"] .md-header {
  background-color: #151515;
  color: #d3d3d3
}

/* White shadow on logo in white theme */
[data-md-color-scheme="default"] .md-header__button.md-logo img {
  filter: drop-shadow(0px 0px 3px #ffffff);
}

/*
From https://github.com/mkdocstrings/mkdocstrings/blob/master/docs/css/mkdocstrings.css
ISC License
*/

/* Indentation. */
div.doc-contents:not(.first) {
  padding-left: 18px;
  border-left: 4px solid #bebebe;
  margin-bottom: 80px;
}

/* Avoid breaking parameters name, etc. in table cells. */
td code {
  word-break: normal !important;
}


/*
From https://github.com/mkdocstrings/mkdocstrings/blob/master/docs/css/style.css
ISC License
*/


/* Increase logo size */
.md-header__button.md-logo {
  padding-bottom: 0.2rem !important;
  padding-top: 0.2rem !important;
}

.md-header__button.md-logo img {
  height: 1.5rem !important;
}


/* More space at the bottom of the page. */
.md-main__inner {
  margin-bottom: 1.5rem;
}
